@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.chatbotContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 30px 0px;
    padding: 10px;
    width: auto;
    height: calc(100vh - 100px);
    width: calc(100% - 20px);
    background-image: url("../plane_wallpaper.png");
}

.messagesContainer {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button-new {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #000000;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(255,255,255,0.9);
        box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
    }
}

.navbar {
    background-image: url("../plane_wallpaper.png");
}