 div.widget
{
  position: relative;
  width: fit-content;
  height: 200px;
  margin: auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  font-size: 65px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

div.panel
{
  display: inline-block;
}

div.right-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}

.category {
  margin-bottom: 20px;
}

.category-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.items-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 10px; /* Adjust the space between items */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.item {
  flex: 0 1 calc(50% - 5px); /* Each item takes 50% width with a 10px gap between them */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  
}

.item-reason {
  font-size: 16px;
  margin-bottom: 5px;
}

.destination-card {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
  background-color: #f9f9f9;
  min-width: 400px;
  width: fit-content;
  font-size: large;
}

.destination-card p {
  margin: 10px 0;
}

.destination-card strong {
  font-weight: bold;
}

.fix {
  height: 90%;
  /* overflow: scroll; */
}